{% extends 'base.html' %}

{% block content %}
    <form id="myForm" action="{% url 'api:contest-update' contest.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" id="submitBtn" class="btn btn-primary">Сохранить</button>
    </form>
    <script>
    $('#submitBtn').click(function(e) {
        e.preventDefault();
        var form = $('#myForm');
        var url = form.attr('action');
        $.ajax({
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            url: url,
            data: form.serialize(),
            type: 'PUT',
            success: function(response) {
                location.reload();
            },
            error: function(error){
                console.log(error);
            }
        });
    });
    </script>

{% endblock content %}
